# Project exclude paths
/ydles-user-oauth/target/
/ydles_canal/target/
/ydles_common/target/
/ydles_common_fescar/target/
/ydles_eureka/target/
/ydles_gateway/ydles_gateway_system/target/
/ydles_gateway/ydles_gateway_web/target/
/ydles_service/ydles_service_business/target/
/ydles_service/ydles_service_config/target/
/ydles_service/ydles_service_file/target/
/ydles_service/ydles_service_goods/target/
/ydles_service/ydles_service_order/target/
/ydles_service/ydles_service_page/target/
/ydles_service/ydles_service_pay/target/
/ydles_service/ydles_service_search/target/
/ydles_service/ydles_service_seckill/target/
/ydles_service/ydles_service_system/target/
/ydles_service/ydles_service_user/target/
/ydles_service_api/ydles_service_business_api/target/
/ydles_service_api/ydles_service_config_api/target/
/ydles_service_api/ydles_service_goods_api/target/
/ydles_service_api/ydles_service_order_api/target/
/ydles_service_api/ydles_service_pay_api/target/
/ydles_service_api/ydles_service_search_api/target/
/ydles_service_api/ydles_service_seckill_api/target/
/ydles_service_api/ydles_service_system_api/target/
/ydles_service_api/ydles_service_user_api/target/
/ydles_task/target/
/ydles_web/ydles_web_order/target/
/ydles_web/ydles_web_seckill/target/